//@import '~bootstrap/scss/bootstrap'
@import "partials/_variables";
@import "partials/_generics";
@import "partials/_header";
@import "partials/_footer";
@import "partials/_card";
@import "partials/_specificCard";