footer {
    h2 {
        color: white;
    }

    ul li {
        margin: 1rem 0 1rem;
    }

    a {
        color: grey;

        &:hover {
            color: white;
        }
    }

    .footer-top {
        background-image: url('/resources/img/footer-bg.jpg');
        height: 550px;

        .footer-nav {
            padding: 2rem 0 2rem;
            display: flex;


            .footer-col {
                margin-right: 2rem;

                h2 {
                    margin-bottom: 1.5rem;
                }

                ul {
                    margin-bottom: 2rem;
                }
            }

        }

        .row {
            justify-content: space-between;
        }


        figure img {
            height: 85%
        }


    }

    .footer-bottom {
        display: flex;

        height: 150px;
        background-color: rgb(45, 45, 45);

        .row {
            justify-content: space-between;
            align-items: center;
        }

        .footer-sign {
            h2 {
                border: 2px solid $dc_blue;
                padding: 1rem;
            }
        }

        .footer-social {
            ul {
                display: flex;
                align-items: center;

                li {
                    margin: 1rem;

                    h2 {
                        color: $dc_blue;
                    }
                }
            }
        }
    }

}