* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
}

.container {

    margin: 0 auto;
    width: 1200px;
}

.row {
    display: flex;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    margin: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}